<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~      Copyright (c) 2018-2025, Wilson All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.admin.mapper.ClassRelationMapper">

  <resultMap id="classRelationMap" type="com.pig4cloud.pig.admin.api.entity.ClassRelation">
                  <id property="id" column="id"/>
                        <result property="classId" column="class_id"/>
                        <result property="studentId" column="student_id"/>
            </resultMap>

</mapper>
