<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~      Copyright (c) 2018-2025, Wilson All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.admin.mapper.SamsCourseElectiveMapper">

	<resultMap id="samsCourseElectiveMap" type="com.pig4cloud.pig.admin.api.entity.SamsCourseElective">
		<id property="id" column="id"/>
		<result property="courseName" column="course_name"/>
		<result property="courseTeacher" column="course_teacher"/>
		<result property="duration" column="duration"/>
		<result property="number" column="number"/>
		<result property="courseType" column="course_type"/>
		<result property="credits" column="credits"/>
		<result property="subjectTime" column="subject_time"/>
		<result property="delFlag" column="del_flag"/>
	</resultMap>
	<resultMap id="studentVO" type="com.pig4cloud.pig.admin.api.vo.StudentVO">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
	</resultMap>
	<select id="getStudentCourse" resultMap="samsCourseElectiveMap">
		SELECT
		u.*
		FROM
		sams_course_elective u
		WHERE
		u.del_flag = 0
		AND u.course_id = #{courseId}
	</select>

	<select id="getStudentCourse" resultMap="samsCourseElectiveMap">
		SELECT
		u.*
		FROM
		sams_course_elective u
		WHERE
		u.del_flag = 0
		AND u.course_id = #{courseId}
	</select>

	<select id="getStudentCourseCount" resultType="int">
		SELECT
		u.course_id
		FROM
		student_selection u
		WHERE
		 u.user_id = #{id}
	</select>

	<select id="getCourseBySubjectTime" resultMap="studentVO">
		SELECT
			m.id,
			m.course_name AS `name`
		FROM
			sams_course_elective AS m
		WHERE
			m.subject_time = #{subjectTime}
			AND m.del_flag=0
	</select>

	<select id="getMyElectiveClass" resultMap="samsCourseElectiveMap">
		SELECT
		h.*
		FROM
		sams_student_archives m
		LEFT JOIN sams_course_elective h ON h.course_teacher = m.real_name
		<where>
			m.user_id=#{userId}
			and
			m.del_flag = 0
			<if test="query.courseName != null and query.courseName != ''">
				AND m.course_name= #{query.courseName}
			</if>
		</where>
	</select>

</mapper>
