<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~      Copyright (c) 2018-2025, Wilson All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.admin.mapper.SamsCourseMapper">

	<resultMap id="samsCourseMap" type="com.pig4cloud.pig.admin.api.entity.SamsCourse">
		<id property="id" column="id"/>
		<result property="courseName" column="course_name"/>
		<result property="courseTeacher" column="course_teacher"/>
		<result property="duration" column="duration"/>
		<result property="number" column="number"/>
		<result property="courseType" column="course_type"/>
		<result property="credits" column="credits"/>
	</resultMap>
</mapper>
