<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~      Copyright (c) 2018-2025, Wilson All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.admin.mapper.SamsStudentArchiveMapper">

	<resultMap id="samsStudentArchivesMap" type="com.pig4cloud.pig.admin.api.entity.SamsStudentArchive">
		<id property="id" column="id"/>
		<result property="realName" column="real_name"/>
		<result property="nation" column="nation"/>
		<result property="studentId" column="student_id"/>
		<result property="sex" column="sex"/>
		<result property="birthDate" column="birth_date"/>
		<result property="personalInformation" column="personal_information"/>
		<result property="honor" column="honor"/>
		<result property="contactAddress" column="contact_address"/>
		<result property="enrollment" column="enrollment"/>
		<result property="headImage" column="head_image"/>
		<result property="userId" column="user_id"/>
		<result property="classId" column="class_id"/>
		<result property="delFlag" column="del_flag"/>
	</resultMap>

	<resultMap id="studentVO" type="com.pig4cloud.pig.admin.api.vo.StudentVO">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
	</resultMap>

	<select id="getStudentById" resultMap="samsStudentArchivesMap">
		SELECT
		u.*
		FROM
		sams_student_archives u
		WHERE
		u.user_id = #{id}
	</select>

	<select id="getMyClassById" resultType="int">
		SELECT
		u.class_id
		FROM
		class_relation u
		WHERE
		u.user_id = #{id}
	</select>

	<select id="getStudentPage" resultMap="studentVO">
		SELECT
		u.user_id AS `id`,
		u.real_name AS `name`
		FROM
		sams_student_archives u
		WHERE
		u.del_flag = 0
		AND u.class_id = 0
	</select>
</mapper>
