<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~      Copyright (c) 2018-2025, Wilson All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.admin.mapper.SamsCourseMajorMapper">

	<resultMap id="samsCourseMajorMap" type="com.pig4cloud.pig.admin.api.entity.SamsCourseMajor">
		<id property="id" column="id"/>
		<result property="courseName" column="course_name"/>
		<result property="courseTeacher" column="course_teacher"/>
		<result property="courseType" column="course_type"/>
		<result property="credits" column="credits"/>
		<result property="subjectTime" column="subject_time"/>
		<result property="classId" column="class_id"/>
	</resultMap>

	<resultMap id="studentVO" type="com.pig4cloud.pig.admin.api.vo.StudentVO">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
	</resultMap>

	<select id="getClassList" resultMap="studentVO">
		SELECT
			u.*
		FROM
			class_schedule u
		WHERE
			u.class_id = #{classId}
	</select>

	<select id="getMyMajorClass" resultMap="samsCourseMajorMap">
		SELECT
		h.*
		FROM
		sams_student_archives m
		LEFT JOIN sams_course_major h ON h.course_teacher = m.real_name
		<where>
		m.user_id=#{userId}
		<if test="query.courseName != null and query.courseName != ''">
			AND m.course_name= #{query.courseName}
		</if>
	</where>
	</select>

	<select id="getMyMajorById" resultType="string">
		SELECT
		h.course_name
		FROM
		sams_course_major h
		where
		h.class_id=#{classId}
	</select>

</mapper>
